
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-blue-100);
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  //text-align: center;
}

header {
  background-image: url(/assets/images/bg-sidebar-mobile.svg);
  width: 100%;
  height: 170px;
}

.circular-button {
  cursor: pointer;
  border: solid 1pt var(--color-white);
  color: var(--color-white);
  background-color: var(--color-purple-600);
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.circular-button.current {
  background-color: var(--color-blue-200);
  color: var(--color-blue-950);
  border: none;
}

.error-message {
  display: block;
  color: var(--color-red-500);
  font-size: 12px;
  text-align: left;
}

.form-card {
  position: relative;
  top: -5.5rem;
  width: calc(100% - 2rem);
  margin: 1rem;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 8px;
  h1 {
    color: var(--color-blue-950);
    font-size: 1.5rem;
  }
  p {
    color: var(--color-grey-500);
    font-size: 1rem;
  }
  label {
    color: var(--color-blue-950);
    font-size: 0.75rem;
  }
  input {
    width: 100%;
    border: solid 1pt var(--color-grey-500);
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
}

footer {
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
}
