@import "tailwindcss";

:root {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Primary */
  --color-blue-950: hsl(213, 96%, 18%);
  --color-purple-600: hsl(243, 100%, 62%);
  --color-blue-300: hsl(228, 100%, 84%);
  --color-blue-200: hsl(206, 94%, 87%);
  --color-red-500: hsl(354, 84%, 57%);
  /* Neutral */
  --color-purple-200: hsl(229, 24%, 87%);
  --color-grey-500: hsl(231, 11%, 63%);
  --color-blue-100: hsl(218, 100%, 97%);
  --color-blue-50: hsl(231, 100%, 99%);
  --color-white: hsl(0, 100%, 100%)
}


/* .bg-blue-950 {
  background-color: (var(--color-blue-950));
} */

